    
    
        <span class="text-xl font-semibold">Buscar Usuario</span>

        <div class="py-4">
            <input class="p-2 border" type="seach" placeholder="buscar" class="">
        </div>
        
    <table class=" ">
        <thead class="border bg-gray-200">
            <tr>
                <th class=" text-left py-2 px-3 ">Nombre</th>
                <th class=" text-left py-2 px-3 ">Direccion</th>
                <th class="  text-left py-2 px-3 ">Phone</th>
                <th class=" text-left py-2 px-3 ">Gasto</th>
            </tr>
        </thead>
        <tbody class="">
            <tr class="border-b">
                <td class="  py-3 px-4 text-gray-700">Yelsin Caso</td>
                <td class="   py-3 px-4 text-gray-700">Jr 1° de noviembre 156</td>
                <td class="py-3 px-4 text-gray-700">999 999 999</td>
                <td class="  py-3 px-4 text-gray-700">s/ 450.00</td>
            </tr>

            <tr class="border-b">
                <td class="  py-3 px-4 text-gray-700">Yelsin Caso</td>
                <td class="  w-1/4 py-3 px-4 text-gray-700">Jr 1° de noviembre 156</td>
                <td class=" py-3 px-4 text-gray-700">999 999 999</td>
                <td class=" w-1/4 py-3 px-4 text-gray-700">s/ 450.00</td>
            </tr>

            <tr class="border-b">
                <td class="   py-3 px-4 text-gray-700">Yelsin Caso</td>
                <td class="   py-3 px-4 text-gray-700">Jr 1° de noviembre 156</td>
                <td class="  py-3 px-4 text-gray-700">999 999 999</td>
                <td class="  py-3 px-4 text-gray-700">s/ 450.00</td>
            </tr>

            <tr class="border-b">
                <td class="  w-1/4 py-3 px-4 text-gray-700">Yelsin Caso</td>
                <td class="  w-1/4 py-3 px-4 text-gray-700">Jr 1° de noviembre 156</td>
                <td class="  py-3 px-4 text-gray-700">999 999 999</td>
                <td class="  py-3 px-4 text-gray-700">s/ 450.00</td>
            </tr>
           
        </tbody>
    </table>