<div class=" md:px-20 lg:px-32 xl:px-64 py-8 w-full ">

  <div class="p-4 bg-white relative ">
      <div class="flex justify-between mx-4 ">
          <span class="font-bold">Lista #2</span>
          <span class="font-bold">COD: A25030</span>
      </div>

      <table class="min-w-full bg-white my-6">
          <thead class="">
              <tr>
                <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">Name</th>
                <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">Cantidad</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Costo</th>
              </tr>
            </thead>


            
        <tbody class="text-gray-700 ">


          <tr class="border-b-2 border-gray-300">

            <td class="w-1/3 text-left py-3 px-4 ">Brocoli</td>

            <td class="w-1/3 text-left py-3 px-4 ">5</td>

            <td class="text-left py-3 px-4 ">4.00</td>

          </tr>
        

        

          <tr class="border-b-2 border-gray-300">

              <td class="w-1/3 text-left py-3 px-4 ">Brocoli</td>

              <td class="w-1/3 text-left py-3 px-4 ">5</td>

              <td class="text-left py-3 px-4 ">4.00</td>

            </tr>



            <tr class="border-b-2 border-gray-300">

              <td class="w-1/3 text-left py-3 px-4 ">Brocoli</td>

              <td class="w-1/3 text-left py-3 px-4 ">5</td>

              <td class="text-left py-3 px-4 ">4.00</td>

            </tr>



            <tr class="border-b-2 border-gray-300">

              <td class="w-1/3 text-left py-3 px-4 ">Brocoli</td>

              <td class="w-1/3 text-left py-3 px-4 ">5</td>

              <td class="text-left py-3 px-4 ">4.00</td>

            </tr>



            <tr class="border-b-2 border-gray-300">

              <td class="w-1/3 text-left py-3 px-4 ">Brocoli</td>

              <td class="w-1/3 text-left py-3 px-4 ">5</td>

              <td class="text-left py-3 px-4 ">4.00</td>

            </tr>



        </tbody>



        <tfoot>
          <tr class="font-bold">
            <td></td>
            <td>TOTAL</td>
            <td>S/ 150.00</td>
          </tr>
        </tfoot>



      </table>


      <div class=" flex justify-end">
          <button class="block uppercase  shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded ">Comprar</button>
      </div>
  
      <div class=" hidden
      px-24 text-gray-800
      bg-white w-full h-full absolute top-0  justify-center items-center">
      <div>
          <p class="font-medium text-3xl">Te contactaremos en un instante para enviarte tu lista de pedido</p>
      </div>
          
      </div>
  </div>



</div>


