<div class="m-4 text-center py-4">
    <a href=""
    class="font-medium mx-2 text-gray-600 hover:underline"
    >verduras</a>

    <a href=""
    class="font-medium mx-2 text-gray-600 hover:underline"
    >tuberculos</a>

    <a href=""
    class="font-medium mx-2 text-gray-600 hover:underline"
    >abarrotes</a>

    <a href=""
    class="font-medium mx-2 text-gray-600 hover:underline"
    >lacteos</a>

    <a href=""
    class="font-medium mx-2 text-gray-600 hover:underline"
    >carnes</a>

    <a href=""
    class="font-medium mx-2 text-gray-600 hover:underline"
    >citricos</a>


</div>
