<div class="">
    <div class="bg-white p-5 my-16 w-full">
        <h2 class="text-2xl font-semibold my-6">Solicitudes atendidas</h2>
          <div>

            <div class="   border mb-1 hover:bg-blue-200 flex justify-between py-3 rounded-sm px-6  shadow-md hover:text-blue-800">
              <span class="text-blue-500">Mi primera lista</span>
              <span class="text-blue-500">Juan Carlos Segundo</span>
            </div>

            <div class="   border mb-1 hover:bg-blue-200 flex justify-between py-3 rounded-sm px-6  shadow-md hover:text-blue-800">
                <span class="text-blue-500">Mi primera lista</span>
                <span class="text-blue-500">Juan Carlos Segundo</span>
            </div>

              <div class="   border mb-1 hover:bg-blue-200 flex justify-between py-3 rounded-sm px-6  shadow-md hover:text-blue-800">
                <span class="text-blue-500">Mi primera lista</span>
                <span class="text-blue-500">Juan Carlos Segundo</span>

              </div>
          </div>
    </div>
</div>